header h1 {
    background-color: rgb(245, 128, 32);
    padding: 30px;
    text-align: center;
}
nav{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

div > h3 {
    padding: 10px;
    text-align: center;
    border-bottom: solid 1px rgb(184, 120, 24);
}
.btn:link , :visited{
    color: black; 
    text-decoration: none;
}
.notice {
    height: 200px;
    margin: 10px;
    background-color: bisque;
} 
.notice_page{
    background-color: white;
}

.grid_page {
    display: grid;
    grid-template-columns: repeat(1,2fr);
}

@media screen  and (min-width: 600px){
    main {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}