#gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gnb_menu {
    display: flex;
    list-style: none;
    padding: 50px;
}
.gnb_menu a{
    text-decoration: none;
}
.gnb_menu li{
    list-style: none;
}
a:hover { 
    color : #fd6f36;
}



#main-view .main_view-slide{
    position: relative;
}


#gnb { position: relative; left: 0; top: 0; width: 100%; z-index: 100;}
    #gnb > ul > li { width: 15%; float: left; position: relative;}
    #gnb > ul > li > a { color: #000; font-size: 18px; text-align: center;
                    display: block;  height: 45px; line-height: 45px; }


    #gnb ul ul {
        display: none;
        position: absolute; left: 50%; 
        width: 180px; margin-left: -90px;
        background-color: #fff; border: #027373 1px solid;
        border-top: none; border-radius: 0 0 7px 7px;  font-size: 13px;
    }
    #gnb ul ul a { display: block;
        height: 40px; line-height: 40px; text-align: center;}

    