
header {
    display: flex;
}

header > div >ul {
    display: flex;
    float: left;
}
header > ul > li {
    display: flex;
}

a:link ,:visited { 
    text-decoration: none;
}
a:hover { 
    color : #fd6f36;
}
li {
    list-style: none;
}

#cloudimg{
    margin: 10px;
}
#searchimg{
    margin: 5px 8px;
}
#mymenuimg{
    margin-left: 15px;
    margin-top: 8px;
}
#main_view {
    width: 100%;
    height: 520px;
}

#main-view .main_view-slide{
    position: relative;
}

#main-view .main_view-slide:after{
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
    position: absolute;
    background:  url(../연습1/img/coffee-5769721_1280.png) 0 0 no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}
#main-view .main_view_slide.item2:after{
    background-image: url(../연습1/img/mountain-4694346_1280.png);
}

#gnb { position: relative; left: 0; top: 0; width: 100%; z-index: 100;}
    #gnb > ul > li { width: 15%; float: left; position: relative;}
    #gnb > ul > li > a { color: #000; font-size: 18px; text-align: center;
                    display: block;  height: 45px; line-height: 45px; }

   
    #gnb ul ul {
        display: none;
        position: absolute; left: 50%; 
        width: 180px; margin-left: -90px;
        background-color: #fff; border: #027373 1px solid;
        border-top: none; border-radius: 0 0 7px 7px;  font-size: 13px;
    }
    #gnb ul ul a { display: block;
        height: 40px; line-height: 40px; text-align: center;}

    