.hidden {
    display : none;
}
form ,h1 {
    text-align: center;
}
form > input {
    margin-bottom: 50px;
}
form input[type="text"]:focus{   /*input 태그 입력란 태두리 없음*/
    outline : none;
}

.login_btns{
    border: 1px solid  white;
    background-color: rhba(0,0,0,0);
    color: black;
    padding: 5px;
    border-radius: 5px;
    width: 50px;
}
.flex {
    display: flex;
    margin: 30px 10px;
    padding: 5px;
    flex-wrap: wrap;
}
.flex div { /*class.flex 안에 생성되는 메모장 div입니다 */
    width: 250px;
    background-color: rgba(255,255,255,2);
    padding: 20px;
    margin: 50px;
    word-break: break-word; /*영어가 영역을 벗어나지않음*/
}
#clock {
    color: white;
    text-shadow: 0px 0px 7px black;
    font-size: 50px;
}
#greeting {
    color: white;
}
form input[type="text"]{
    background-color: transparent; /*배경투명*/
    border: none;
    border-bottom: 1px solid white;
}
form input[type="text"]::placeholder{
    color: white;
}
div {
    font-family: 'GangwonEdu_OTFBoldA';
}
ul {
    font-family: 'GangwonEdu_OTFBoldA';
    list-style : none;
}
nav{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.memolistbtn:link , :visited{
    color: black; 
    text-decoration: none;
    font-weight: bold;
}
.memolistbtn:hover{
    color: white;
    text-shadow: 2px 2px gray;
}
#memoimg{
    width: 40px;
}
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}