* {
    margin-top: 5px ;
    white-space:nowrap;
}
#gnb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
#gnb >h1{
    margin-left: 45px;
}
.gnb_menu {
    list-style: none;
    display: flex;
}
.gnb_sub{
    padding: 5px;
}

.gnb_menu li {
    padding: 8px 12px;
}
.gnb_first_menu {
    padding-left: 0;
    font-size: 15px;
}
.gnb_first_menu:link, :visited{
    color:  black;
}

.gnb_first_menu > a:hover {
    color: rgb(250, 125, 53);
}

.gnb_sub_menu{
    padding: 10px;
    width: 250px;
}

.gnb_sub_menu:hover{
    background-color: rgb(250, 125, 53);
    color: white;
    padding: 10px;
}

.gnb_menu a, .gnb_img a{
    text-decoration: none;
}
.gnb_img {
    display: flex;
    list-style: none;
    margin-right: 60px;
}
.gnb_img li {
    padding: 8px 20px;   
}
.gnb_img li:first-child{
    margin-top: 4px;
    font-size: 25px;
}
.gnb_img li:last-child:hover{
    background-color: rgb(250, 125, 53);
}

.gnb_toggleBtn {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    color: rgb(250, 125, 53);
}


#gnb ul ul {
    margin-top: 20px;
    display: block;
    position: absolute; left: 10%; 
    width: 80%; height: 450px;
    background-color: #fff; border: grey 1px solid;
    border-radius: 0 0 7px 7px;
    font-size: 18px;
    list-style: none;
    background-color: antiquewhite;
}

#gnb ul ul:after {
    border-color: #eef3fd transparent; 
    border-style: solid ; 
    border-width: 0 6px 8px 6.5px; 
    content: ''; 
    display: block; 
    position: absolute; 
    left: 320px;
    top: -7px; 
    width: 0; 
    z-index: 1;
}
#gnb ul ul:before { 
    border-color: grey transparent; 
    border-style: solid ; 
    border-width: 0 6px 8px 6.5px; 
    content: ''; display: block; 
    left: 320px; position: absolute; 
    top: -8px; width: 0; z-index: 0;
}




@media screen and (max-width:768px){
    #gnb {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .gnb_menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .gnb_img {
        justify-content: center;
        width: 100%;
    }
    .gnb_toggleBtn {
        display: block;
    }
}