<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1 v-bind:style="onStyle">{{ school }}</h1>
        <p v-if="login"> {{ name +"님 로그인했습니다"}} </p>
        <div v-else>
            <input type="text" v-model="name" required>
            <button v-on:click="loginBtn">login</button>
        </div>
        

        <h2>학생 리스트 </h2>
        <table>
            <tr>
                <td>번호</td>
                <td>이름</td>
                <td>점수</td>
            </tr>
            <tr v-for="student in students">
                <td> {{ student.number }} </td>
                <td> {{ student.name }}</td>
                <td> {{ student.score }}</td>
            </tr>
            
        </table>
        <br>
        <form @submit.prevent=" onSumbit">
            <label>이름</label>
            <input type="text" v-model="studentName"> <br>
            <label>점수</label>
            <input type="text" v-model="studentScore">
            <input type="submit">
        </form>
        <p>{{ "평균 : "+avrCalc }}</p>





        
    </div>
    
    <script>
    new Vue({
        el :"#app",
        data : {
            onStyle : {color : "blue"},
            school : "00학교",
            login : false,
            name : "",
            studentName :"",
            studentScore:"",
            students : [
                {number:1 , name: "홍길동" , score:80},
                {number:2 , name: "성춘향" , score:90},
                {number:3 , name: "콩쥐" , score:70},
            ]

        },
        methods : {
            loginBtn() {
                this.login = true;
            },
            onSumbit() {
                //100보다 크면 100 0보다 작으면 0 값을 입력 추가  
                if(this.studentScore >100){
                    this.studentScore = 100;
                }
                else if(this.studentScore <0){
                    this.studentScore = 0;
                }

                return this.students.push({
                    number : this.students.length+1,
                    name: this.studentName,
                    score: parseInt(this.studentScore)
                });
            }
        },

        computed : {
            avrCalc : function(){
                let sum=0;
                for(student of this.students){
                    sum += student.score;
                }
                return sum/this.students.length;
            }
        }
    })
    </script>
</body>
</html>