body div #app {
    background-color:  rgba(32,73,105,1) ;
}
.original_color{
    color: rgba(32,73,105,1) !important;
}
.original_color--text{
    color: rgba(32,73,105,1) !important;
}

#appbar_font{
    font-family: 'Ubuntu', sans-serif;
    z-index: 100;
    
}
#logo {
    font-size: 25px;
    color: black;
    line-height: 10px;
    font-family: 'BIZ UDPMincho', serif;
    font-family: 'Playfair Display', serif;
}
#holiday_village{
    color: black;
}
#dots-vertical{
    color: black;
}
a {
    text-decoration: none;
}
#carouseltext{
    font-family: 'BIZ UDPMincho', serif;
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    color: white;
}
.v-card {
    transition: opacity .4s ease-in-out;
}
.textfont{
    font-family: 'Poppins', sans-serif;
}


#carouselp{
    font-size: 35px;
    margin: 170px auto;
    color: white;
}
#uptext{
    vertical-align: top;
    font-size: 20px;
    line-height: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.test{
    border: 1px solid black;
    background-color: rgba(32,73,105,1);
}